body {
	width: 1200px;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	font-family: "Roboto Medium", "Tahoma", "Arial", sans-serif;
	background-color: #849d8f;
	
	
}
.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0;
}
.clearfix {
	content: "";
    display: table;
    clear: both;
}
.header-logo {
	float: left;
	width: 153px;
	height: 64px;
}
.main-navigation {
	float: left;
	width: 349px;
}
.main-nav {
    list-style: none;
}
.main-nav  li {
	display: inline;
}
.main-nav  a {	
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	font-style: "Roboto Bold", "Tahoma", "Arial", sans-serif;
}
.user-block {
	float: left;
	width: 261px;
}
.user-block  a {
	display: inline;
	color: #ffffff;
}
.timework-tel {
	float: right;
	width: 165px;
}
.ad {
	/*float: center;*/
	/*width: 1045px;*/
	/*height: 651px;*/
	/*background-image: url("../img/advertising_1.png");*/
}
.slider-inner {
	overflow: hidden;
}
.slider-slides {
	width: 300%;
}
.slider-slides img {
	float: left;
	width: 1045px;
	height: 881px;
}
.page-choice input[type=radio] {
    display: none;
}
.slider-controls label {
    display: inline-block;
    width: 10px;
	border: 4px solid white;
	background-color: #cccccc;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
    margin: 0 3px;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
}
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-850px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-160px);
}
.choice-ice h2 {
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto Bold", "Arial", sans-serif;
}
.selection-ice h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto Bold", "Arial", sans-serif;
}
.promo-action {
	float: left;
	width: 560px;
	height: 229px;
	margin-right: 26px;
	border-radius: 15px;
}
.promo-action:last-child {
	margin-right: 0;
}
.promo .promo-action:first-child {
	background-image: url("../img/promo_raspberries.jpg");
	background-repeat: no-repeat;
}
.promo .promo-action:last-child {
	background-image: url("../img/promo_choko.jpg");
	background-repeat: no-repeat;
}
.catalog-ice {
	float: left;
	width: 267px;
	height: 322;
	margin-right: 26px;
	margin-top: 40px;
}
.catalog-ice:last-child {
	margin-right: 0;
}
.catalog-ice img {
	border-radius: 135px;
}
.catalog .case-catalog a {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-family: "Roboto Medium", "Tahoma", "Arial", sans-serif;
}

.description {
	height: 306px;
	background-image: url("../img/wafer.jpg");
	background-repeat: no-repeat;
}
.about {
		margin-top: 30px;
}
.make {
	float: left;
	width: 476px;
	height: 171px;
}
.delivery {
	float: right;
	width: 470px;
	height: 148px;
}
.description .about span {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-family: "Roboto Medium", "Tahoma", "Arial", sans-serif;
}
.description .make p,
.description .delivery p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-family: "Roboto Regular", "Tahoma", "Arial", sans-serif;
}
.news-sub .news {
	float: left;
	width: 560px;
	height: 220px;
	margin-left: 0;
	margin-right: 26px;
	padding-left: 0;
	margin-top: 40px;
	font-size: 0;
	background-image: url("../img/news.jpg");
	background-repeat: no-repeat;
}
.news-sub .news p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-family: "Roboto Medium", "Tahoma", "Arial", sans-serif;
}
.news-sub .news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
	font-family: "Roboto Bold", "Tahoma", "Arial", sans-serif;
}
.news-sub .sub {
	float: right;
	width: 560px;
	height: 220px;
	margin-top: 40px;
	background-image: url("../img/sub.jpg");
}
.news-sub .sub p {
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	font-family: "Roboto Medium", "Tahoma", "Arial", sans-serif;
}
.driving-address {
	width: 1200px;
	min-height: 430px;
	background-image: url("../img/map.jpg");
	/*background-image: url("../marker.png");*/
	background-repeat: no-repeat;
	margin-top: 40px;
}
.driving {
	background-color: white;
	position: relative;
    right: -870px;
    top: 62px;
    width: 302px;
	height: 305px;
}

.driving-address .driving {
	color: #323232;
}
.footer-social {
	float: left;
	width: 185px;
	margin-top: 36px;
}
.social-btn {
	display: inline;
}

.footer-contacts {
	float: left;
	width: 326px;
	margin-top: 20px;
}
.footer-main {
	list-style: none;
}
.footer-main li {
	display: inline;
}
.footer-main a {
	color: #ffffff;
}
.footer-copyright {
	float: right;
	width: 140px;
	margin-top: 19px;
}
.footer-copyright {
	float: right;
	width: 189px;
}
.footer-copyright p {
	font-size: 12px;
	line-height: 16px;
	color: #fefefe;
	font-family: "Roboto Regular", "Tahoma", "Arial", sans-serif;
}
.footer-copyright a {
	color: #ffffff;
	text-decoration: none;
}
