body {
	min-width: 1200px;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	background-color: #849d8f;
}
.clearfix {
	content: "";
    display: table;
    clear: both;
}
.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}
/*--ШАПКА--*/
.header-logo {
	float: left;
	width: 153px;
	min-height: 64px;
	margin: 0;
	margin-right: 10px;
    margin-top: 9px;
}
.main-navigation {
	float: left;
	width: 384px;
	min-height: 64px;
	margin-top: 9px;
}
.main-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 64px;
	font-size: 0;
}
.main-nav  li {
	display: inline-block;
	vertical-align: top;
}
.main-nav  li a {	
	display: block;
	padding: 7px 14px;
	margin-top: 14px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
}
.main-nav  li:last-child a {
	/*padding-right: 0;*/
	padding-left: 15px;
}
.main-nav .active {
	background: #d07058;
	border-radius: 16px;
	border-bottom: none;
}
.main-nav li a:hover {
	color: #000000;
	background-color: #ffffff;
	border-radius: 20px;
}
.main-nav li a:active {
  background:    -moz-linear-gradient(top, #ededed 0%, #ededed 100%);
  background: -webkit-linear-gradient(top, #ededed 0%, #ededed 100%);
  background:         linear-gradient(to bottom, #ededed 0%, #ededed 100%);
  box-shadow: inset 0 2px 2px rgba(105, 105, 105, 1);
}
.main-navigation .li-1::after {
	content: "";
	position: absolute;
	top: 47px;
	margin-left: 14px;
	width: 60px;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.2;
}
.main-navigation .li-2::after {
	content: "";
	position: absolute;
	top: 47px;
	margin-left: 14px;
	width: 142px;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.2;
}
.main-navigation .li-3::after {
	content: "";
	position: absolute;
	top: 47px;
	margin-left: 16px;
	width: 90px;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.2;
}
.user-block {
	float: right;
	max-width: 328px;
	margin-left: 236px;
	margin-top: 9px;
}
.user-block .search  	{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	font-size: 14px;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.user-block .login,
.user-block .basket {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-top: 14px;
	padding: 8px 0px;
	text-decoration: none;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	font-family: "Roboto", "Tahoma", sans-serif;
	vertical-align: top;	
}
.user-block .search {
	padding-left: 13px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-right: 3px;
	background: #9db1a5;
	border-radius: 100%;
}
.user-block .login {
	padding-left: 44px;
	padding-right: 17px;
	background: #9db1a5;
	border-radius: 18px;
	margin-right: 5px;
	margin-left: 3px;
}
.user-block .basket {
	padding-left: 45px;
	padding-right: 33px;
	background: #9db1a5;
	border-radius: 100px;
}

/*-- ПОИСК ИКОНКА--*/
.user-block .search {
	font-size: 0;
}
.user-block .search::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	width: 33px;
	height: 33px;
	background: transparent url("../img/loupe.png") no-repeat;
	background-position: center;
	border-radius: 100%;
}
.user-block .search:hover::after {
	background: transparent url("../img/search_black.png") no-repeat;
	background-position: center;
}
.user-block .search:hover {
	background-color: #ffffff;
	border-radius: 100%;
}

/*-- ВХОД ИКОНКА--*/
.user-block .login::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 19px;
	background: transparent url("../img/to_in.png") no-repeat;
}
.user-block .login:hover::after {
	background: transparent url("../img/to_in_black.png") no-repeat;
}
.user-block .login:hover {
	background-color: #ffffff;
	border-radius: 16px;
	color: #000000;
}

/*-- КОРЗИНА ИКОНКА--*/
.user-block .basket::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 17px;
	width: 21px;
	height: 19px;
	background: transparent url("../img/basket_empty.png") no-repeat;
}
.user-block .basket:hover::after {
	background: transparent url("../img/basket_full.png") no-repeat;
}
.user-block .basket:hover {
	background-color: #ffffff;
	border-radius: 16px;
	color: #000000;
}

/*-- ВРЕМЯ --*/
.timework-tel {
	float: right;
	margin-top: 15px;
	width: 175px;
	text-align: right;
}
.timework-tel .timework {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.timework-tel .tel {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	color: #ffffff;
	font-family: "Roboto", "Tahoma", sans-serif;
}
/*-- /ШАПКА --*/

/*-- БЛОК ХЛЕБНЫХ КРОШЕК--*/
.bread-main-nav {
    list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 16px;
}
.bread-main-nav  li {
	display: inline-block;
}
.bread-main-nav  li a {	
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	padding-right: 15px;
	/*background: #000000;*/
}
.bread-main-nav  li:last-child a {
	text-decoration: none;
}
.bread-main-nav  a::after{
	content: "";
	position: absolute;
	top: 4px;
	right: 0px;
	width: 9px;
	height: 9px;
	background: transparent url("../img/arrow_s_right.png") no-repeat;
}
.bread-main-nav li:last-child a::after{
	content: none;
}
/*-- /БЛОК ХЛЕБНЫХ КРОШЕК--*/


/*-- ГЛАВНАЯ СТРАНИЦА --*/
	/*-- СЛАЙДЕР --*/
	.choice-ice h2 {
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	background-color: #849d8f;
}
body > input[type="radio"] {
	display: none;
}
.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}
.site-wrapper::before {
	background-image: url("../img/advertising_2.png");
}
.site-wrapper::after {
	background-image: url("../img/advertising_3.png");
}
.site-wrapper {
	min-width: 1146px;
	min-height: 2416px; 
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, 
				background-color 0.5s ease;
}
.slider {
	position: relative;
	padding-top: 274px;
	text-align: center;
	color: #ffffff;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.slide-btn {
	display: inline-block;
	padding: 10px 40px;
	margin-bottom: 39px;
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	vertical-align: top;
	color: #ffffff;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
	position: absolute;
	bottom: 61px;
	left: 0;
	z-index: 20;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls label:hover {
	background-color: #b2c1b7;
}
.slider-controls label:active {
	background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/advertising_1.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/advertising_2.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/advertising_3.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
	/*-- БЛОК ПРОМО АКЦИИ --*/
.promo-action {
	float: left;
	width: 560px;
	height: 229px;
	margin-right: 26px;
	border-radius: 15px;
}
.promo-action:last-child {
	margin-right: 0;
}
.promo .promo-action:first-child {
	background-image: url("../img/promo_raspberries.jpg");
	background-repeat: no-repeat;
}
.promo .promo-action:last-child {
	background-image: url("../img/promo_choko.jpg");
	background-repeat: no-repeat;
}
.promo-action span {
	display: block;
	margin: 0;
	margin-top: 17px;
	margin-left: 19px;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.promo-action p {
	display: block;
	margin: 0;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 15px;
	padding: 0;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.promo-action .btn-want-jam  {
	display: inline-block;
	float: right;
	width: 165px;
	margin-top: 43px;
	margin-right: 21px;
	margin-bottom: 24px;
	padding: 12px 0px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.promo-action .btn-want-jam:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.promo-action .btn-want-jam:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.promo-action .btn-want-choco {
	display: inline-block;
	float: right;
	width: 189px;
	margin-top: 42px;
	margin-right: 21px;
	margin-bottom: 24px;
	padding: 12px 0px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	vertical-align: top;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.promo-action .btn-want-choco:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.promo-action .btn-want-choco:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
	/*-- БЛОК САМЫХ ПОКУПАЕМЫХ МОРОЖЕННЫХ --*/
.catalog .catalog-ice {
	float: left;
	width: 267px;
	height: 322px;
	margin-right: 26px;
	margin-top: 40px;
	margin-bottom: 40px;
	cursor: pointer;
}
.catalog-ice .tag {
	position: absolute;
}
.catalog .catalog-ice:last-child {
	margin-right: 0;
}
.catalog-ice .big-ice {
	border-radius: 1000px;
}
.catalog-ice .cost {
	float: left;
	width: 267px;
	height: 45px;
	position: relative;
	bottom: 63px;
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-shadow: 1px 1px 3px #5a6762;
	cursor: pointer;
}
.catalog-ice .weight {
	font-size: 32px;
	line-height: 45px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-shadow: 1px 1px 3px #5a6762;
	margin-left: 6px;
	cursor: pointer;
}
.catalog-ice .specification {
	position: relative;
	bottom: 37px;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
	/*text-decoration: underline;*/
	text-align: center;
}/*
.catalog-ice .specification:hover {
	text-decoration: underline;
	underline-opacity: 0.2; 
	/*opacity: 0.2;
}*/
/*
.catalog-ice:hover {
	background-color: red;
	opacity: 0.2;
	z-index: 1;
}*/
	/*-- БЛОК ОПИСАНИЯ КОМПАНИИ --*/
.description {
	width: 1146px;
	height: 306x;
	background-image: url("../img/wafer.jpg");
	background-repeat: no-repeat;
	margin-top: 0px;
	border-radius: 15px;	
}
.description .about {
	margin-top: 25px;
	padding-left: 21px;
	padding-right: 30px;
}
.description .make {
	float: left;
	width: 555px;
	height: 198px;
}
.description .delivery {
	float: right;
	width: 560px;
	height: 198px;
}
.description .about span {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.description .make {
	margin-top: 22px;
}
.description .make p {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	padding-left: 57px;
	margin-top: 0px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.description .make p:first-child {
	margin-bottom: 21px;
}
.description .make p:first-child::after {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
	height: 49px;
	background: transparent url("../img/ice.png") no-repeat;
}
.description .make p:nth-child(2)::after {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
	height: 49px;
	background: transparent url("../img/leaf.png") no-repeat;
}
.description .delivery {
	margin-top: 6px;
}
.description .delivery p {
	position: relative;
	display: inline-block;
	margin-left: 0px;
	padding-left: 57px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.description .delivery p:first-child {
    margin-bottom: 5px;
}
.description .delivery p:nth-child(2) { 
	padding-right: 12px;
}
.description .delivery p:first-child::after {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
	height: 49px;
	background: transparent url("../img/cow.png") no-repeat;
}
.description .delivery p:nth-child(2)::after {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
	height: 49px;
	background: transparent url("../img/thermometer.png") no-repeat;
}

	/*-- БЛОК НОВОСТЕЙ И ПОДПИСКА НА РАССЫЛКУ --*/
.news-sub {
	width: 1146px;
	height: 220px;
	margin-top: 41px;
	margin-bottom: 40px;
}
.news-sub .news {
	float: left;
	width: 560px;
	height: 220px;
	margin-right: 26px;
	border-radius: 15px;
	background-image: url("../img/news.jpg");
	background-repeat: no-repeat;
	z-index: 1;
}
.sub .white-layer {
	float: left;
	width: 549px;
	height: 210px;
	margin-left: 6px;
	margin-top: 5px;
	border-radius: 15px;
	background: #f8f7f4;
	z-index: 2;
	/*background-repeat: no-repeat;*/
}
.news-sub .news p {
	margin-left: 20px;
	font-size: 16px;
	line-height: 22px;
	margin-top: 23px;
	margin-bottom: 5px;
	color: #000000;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.news-sub .news a {
	display: inline-block;
	width: 286px;
	margin-left: 20px;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.news-sub .sub {
	float: right;
	width: 560px;
	height: 220px;
	background-image: url("../img/sub.jpg");
	border-radius: 15px;
}
.news-sub .sub p {
	margin-top: 29px;
	margin-left: 21px;
	margin-right: 10px;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.news-sub .sub form {
	margin-right: 0px;
}
.sub input {
	width: 353px;
	margin-left: 20px;
	margin-right: 8px;
	padding-left: 13px;
	height: 42px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.sub .btn-send {
	display: inline-block;
	width: 129px;
	padding: 10px 19px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	vertical-align: top;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	font-family: "Roboto", "Tahoma", sans-serif;
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}
.sub .btn-send:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.sub .btn-send:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}	
	/*-- БЛОК ПРОЕЗДА АДРЕСА --*/
.driving-address {
	min-width: 1200px;
	min-height: 430px;
	margin-left: 31.5px;
	margin-right: 23.5px;
	margin-bottom: 20px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
}
.driving-address .driving {
	/*opacity: 0.7;*/
	display: inline-block;
	width: 302px;
	height: 305px;
	background-color: white;
	border-radius: 10px;
	position: relative;
    left: 870px;
    bottom: -62px;
	vertical-align: top;
}
.driving  .line-1,
.driving  .line-2 {
	display: inline-block;
	margin-left: 26px;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.driving  .line-2 {
	display: inline-block;
	margin-left: 26px;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.top-lines  .line-1:first-child {
	margin-top: 29px;
	margin-bottom: 1px;
}
.bottom-lines  .line-1 {
	margin-top: 18px;
    margin-bottom: 4px;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.bottom-lines  .line-2 {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.driving .btn-feedback {
	display: inline-block;
	width: 252px;
	margin-top: 26px;
	margin-left: 26px;
	margin-right: 0px;
	margin-bottom: 30px;
	padding: 8px 0px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	vertical-align: top;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.driving .btn-feedback:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.driving .btn-feedback:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*-- /ГЛАВНАЯ СТРАНИЦА --*/


/*-- СТРАНИЦА CATALOG --*/

	/*-- БЛОК ВЫБОРА МОРОЖЕННЫХ --*/
.selection-ice h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.selection-ice .choice {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.selection-ice .meaning {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.selection-ice .btn-apply {
	display: inline-block;
	padding: 7px 27px;
	text-decoration: none;
	border: 2px solid #ffffff;
	border-radius: 20px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
	background-image: #ffffff; 
}
	/*-- /БЛОК ВЫБОРА МОРОЖЕННЫХ --*/

	/*-- БЛОК АССОРТИМЕНТА МОРОЖЕННЫХ --*/

.goods {
	margin-bottom: 50px;
	border-bottom-color: red;
}
.goods .case-catalog  {
	float: left;
	width: 267px;
	height: 322px;
	margin-right: 26px;
	margin-top: 40px;
	text-align: center;
}
.goods .cost {
	position: relative;
	bottom: 60px;
	float: left;
	width: 154px;
	height: 45px;
	margin: 0;
	padding: 0;
	font-size: 32px;
	line-height: 45px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-shadow: 1px 1px 3px #5a6762;
	cursor: pointer;
}
.goods .specification {
	position: relative;
	bottom: 35px;
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
	/*text-decoration: none;*/
}
.goods .btn-show-catalog {
	position: relative;
	Float: left;
	width: 168px;
	height: 25px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	padding: 0 18px;
}
.goods .case-catalog:nth-child(4n){
	margin-right: 0;
}
.goods .case-catalog img {
	border-radius: 135px;
}
	/*-- ПЕРЕКЛЮЧАТЕЛЬ СТРАНИЦ --*/
.goods .catalog-pages {
	float: right;
	/*margin-bottom: 50px;*/
	margin-top: 82px;
}
.pages-ices {
	margin: 0;
	padding: 0;
}
.goods .catalog-pages li {
	display: inline-block;
}
.catalog-pages  a {	
	display: block;
	min-width: 27px;
	height: 26px;
	padding: 0 0;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	vertical-align: middle;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	border-radius: 100px;
	cursor: pointer;
	/*background: red;*/
}

.catalog-pages .active-page {
    background-color: #ffffff;
	color: #000000;
}
.catalog-pages  .hover:hover {
	color: #000000;
	background: #9db1a5;
}
.prev {
    text-indent: -3500px;
	background:  transparent url("../img/arrow_left.png") no-repeat center;
}
.next {
    text-indent: -3600px;
	background:  transparent url("../img/arrow_right.png") no-repeat center;
}

	/*-- /БЛОК АССОРТИМЕНТА МОРОЖЕННЫХ --*/
/*-- /СТРАНИЦА CATALOG --*/

/*-- ПОДВАЛ --*/
	/*-- СОЦИАЛЬНЫЕ КНОПКИ --*/
.footer-social {
	float: left;
	width: 191px;
	/*margin-top: 36px;*/
	text-align: left;
	/*font-size: 0;*/
	margin-top: 15px;
	
}
.footer-social a {
	padding-right: 7px;
}
.social-btn {
	display: inline-block;
	width: 37px;
	height: 37px;
	margin: 0;
	/*margin-right: 11px;*/
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	border-radius: 26px;
}
.social-btn-tv {
	background:  transparent url("../img/tv.png") no-repeat center;
}
.social-btn-inst {
	background:  transparent url("../img/ins.png") no-repeat center;
}
.social-btn-vk {
	background:  transparent url("../img/f.png") no-repeat center;
}
.social-btn-fb {
	background:  transparent url("../img/vk.png") no-repeat center;
}
.social-btn-tv:hover {
	background:  transparent url("../img/tv_hover.png") no-repeat center;
}
.social-btn-inst:hover {
	background:  transparent url("../img/ins_hover.png") no-repeat center;
}
.social-btn-vk:hover {
	background:  transparent url("../img/vk_hover.png") no-repeat center;
}
.social-btn-fb:hover {
	background:  transparent url("../img/f_hover.png") no-repeat center;
}
.social-btn-tv:active {
	background:  transparent url("../img/tv_active.png") no-repeat center;
}
.social-btn-inst:active {
	background:  transparent url("../img/ins_active.png") no-repeat center;
}
.social-btn-vk:active {
	background:  transparent url("../img/vk_active.png") no-repeat center;
}
.social-btn-fb:active {
	background:  transparent url("../img/f_active.png") no-repeat center;
}

	/*-- КОНТАКТЫ --*/
.footer-contacts {
	float: left;
	width: 334px;
	margin-left: 210px;
	text-align: left;
	margin-top: 15px;
}
.footer-main {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-main li {
	display: inline-block;
	margin: 0;
	padding: 0px;
	/*padding-left: 22px;
	margin-right: 20px;*/
	vertical-align: top;
}
.footer-main li a {
	position: relative;
	display: block;
	/*padding-right: 10px;*/
	padding-left: 22px;
	/*margin-right: 10px;*/
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
}
.footer-main li:nth-child(2)  a  {
	padding-right: 0px;
	padding-left: 27px;
	margin-right: 0;
}
.footer-main li:last-child  a {
	padding-right: 0px;
	padding-left: 40px;
	margin-right: 0;
}
 .footer-main .heart::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0px;
	width: 15px;
	height: 13px;
	background: transparent url("../img/heart.png") no-repeat;
	/*opacity: 1;*/
}
	/*-- КОПИРАЙТ --*/
.footer-copyright {
	float: right;
	width: 220px;
	margin: 0;
	padding: 0;
	/*margin-top: 19px;*/
}
.footer-copyright .btn-copyright {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-left: 32px;
	padding: 10px 55px;
	text-align: left;
	font-size: 0;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
}
.footer-copyright .btn-copyright::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 108px;
	height: 38px;
	background: transparent url("../img/made_footer.png") no-repeat;
	/*opacity: 1;*/
}
.footer-copyright p {
	margin-left: 30px;
    margin-top: 3px;
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	/*text-decoration: none;*/
}
.footer-copyright a {
	font-size: 12;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	/*text-decoration: none;*/
}
/*-- ВСПЛЫВАЮЩИЕ МОДАЛЬНЫЕ ОКНА --*/
	/*-- ОКНО ПОИСКА --*/
.modal-search {
	position: absolute;
	top: 50px;
	right: 295px;
	border-radius: 15px;
	display: none;
	width: 341px;
	height: 84px;
	background: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.modal-search  .search-form {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.search-form .search {
	width: 294px;
	height: 42px;
	border-radius: 15px;
	margin: 0;
	padding-left: 14px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.search-form .search:hover {
	border: 2px solid #d3d3d2;
}
.search-form .search:focus {
	border: 2px solid #8fbdec;
}

	/*-- ОКНО ВХОДА --*/
.modal-in {
	position: absolute;
	top: 50px;
	right: 205px;
	border-radius: 15px;
	display: none;
	width: 277px;
	height: 214px;
	background: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.modal-in .login-form {
	padding-left: 19px;
	padding-right: 17px;
	padding-top: 20px;
	padding-bottom: 22px;
}
.login-form .email,
.login-form .password {
	width: 224px;
	border-radius: 15px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 0px;
	padding-left: 15px;
	padding-right: 0;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.login-form .email:hover,
.login-form .password:hover  {
	border: 2px solid #d3d3d2;
}
.login-form .email:focus,
.login-form .password:focus {
	border: 2px solid #8fbdec;
}
.btn-modal-in {
	position: absolute;
	bottom: 22px;
	left: 18px;
	display: inline-block;
	width: 102px;
	height: 44px;
	vertical-align: top;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	cursor: pointer;
	color: #ffffff;
	font-weight: 700;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border: none;
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.btn-modal-in:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn-modal-in:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.restore-registration {
	position: absolute;
	bottom: 15px;
	right: 20px;
	margin-bottom: 5px;
}
.restore,
.registration {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
	/*-- /ОКНО ВХОДА --*/
	
	/*-- ОКНО ОБРАТНОЙ СВЯЗИ--*/
.modal-feedback	{
	position: absolute;
	top: 500px;
	right: 295px;
	border-radius: 15px;
	display: none;
	width: 477px;
	height: 442px;
	background: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.btn-modal-feedback-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 17px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.btn-modal-feedback-close::before,
.btn-modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 17px;
  height: 3px;
  background-color: #000000;
  border-radius: 1px;
}
.btn-modal-feedback-close::before {
  transform: rotate(45deg);
}
.btn-modal-feedback-close::after {
  transform: rotate(-45deg);
}
.modal-feedback h2 {
	margin-top: 18px;
	margin-left: 24px;
	margin-bottom: 23px;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	font-weight: 500;
	font-family: "Roboto", "Tahoma", sans-serif;
}
.modal-feedback  .feedback-form {
	margin-left: 24px;
}
.feedback-form .feedback-name,
.feedback-form .feedback-email  {
	width: 251px;
	height: 42px;
	border-radius: 15px;
	margin: 0;
	margin-bottom: 20px;
	margin-right: 186px;
	padding-top: 0;
	padding-left: 14px;
	padding-bottom: 0;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.feedback-form .feedback-name:hover,
.feedback-form .feedback-email:hover {
	border: 2px solid #d3d3d2;
}
.feedback-form .feedback-name:active,
.feedback-form .feedback-email:active {
	border: 2px solid #8fbdec;
}
.feedback-form .feedback-text  {
	width: 412px;
	height: 141px;
	border-radius: 15px;
	margin: 0;
	margin-bottom: 20px;
	padding-top: 0;
	padding-left: 14px;
	padding-top: 6px;
	padding-bottom: 0;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: "Roboto", "Tahoma", sans-serif;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.feedback-form .feedback-text:hover {
	border: 2px solid #d3d3d2;
}
.feedback-form .feedback-text:active {
	border: 2px solid #8fbdec;
}
.btn-modal-feedback {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding: 11px 24px;
	margin-left: 290px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	font-family: "Roboto", "Tahoma", sans-serif;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
}
.btn-modal-feedback:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn-modal-feedback:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

	/*-- /ОКНО ОБРАТНОЙ СВЯЗИ--*/
	
	/*-- КАРТА --*/
.modal-map {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	width: 1200px;
	height: 429px;
	margin-top: -280px;
	margin-left: -609px;
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	background: #849d8f url("../img/map.jpg");
}
.map-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}